/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@font-face {
    font-family: 'mallory';
    src: url('../webfonts/mallory-light-webfont-v01.eot');
    src:
        url('../webfonts/mallory-light-webfont-v01.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/mallory-light-webfont-v01.woff2') format('woff2'),
        url('../webfonts/mallory-light-webfont-v01.woff') format('woff'),
        url('../webfonts/mallory-light-webfont-v01.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'mallory';
    src: url('../webfonts/Mallory-Book.eot');
    src:
        url('../webfonts/Mallory-Book.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/Mallory-Book.woff2') format('woff2'),
        url('../webfonts/Mallory-Book.woff') format('woff'),
        url('../webfonts/Mallory-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'mallory';
    src: url('../webfonts/mallory-medium.eot');
    src:
        url('../webfonts/mallory-medium.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/mallory-medium.woff2') format('woff2'),
        url('../webfonts/mallory-medium.woff') format('woff'),
        url('../webfonts/mallory-medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: mallory,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.intro-box {
    width: 550px;
    height: 100px;
    margin: 50px auto;
}

.intro-h1 {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
}

.intro-p {
    text-align: center;
}

.intro-p a {
    font-weight: 700;
    font-size: 18px;
}