<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="TransactionDBContext" connectionString="Data Source=C:\inetpub\wwwroot\database\Transactions.sdf" providerName="System.Data.SqlServerCe.4.0" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="RelationshipDBContext" connectionString="Data Source=C:\inetpub\wwwroot\database\Relationships.sdf" providerName="System.Data.SqlServerCe.4.0" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="RegistrationDBContext" connectionString="Data Source=C:\inetpub\wwwroot\database\Registrations.sdf" providerName="System.Data.SqlServerCe.4.0" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\inetpub\wwwroot\database\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

    <appSettings>
        <add key="SendEmails" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>    
    
    <system.web>
        <compilation debug="false" targetFramework="4.0" xdt:Transform="Replace">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <!-- Uncomment the below line to debug production errors -->
        <!--<customErrors mode="Off" xdt:Transform="Replace" />-->
    </system.web>
</configuration>