/***
Within a selector the properties are grouped as follows:
- Positioning
- Display and box model
- Color
- Text
- Other
***/

/*** Change these settings to get the different exercises to show up ***/
.exercise_1 {
    display: none;
}

/*** General settings ***/
html, body, .exercise_1, .exercise_2 {
    height: 100%;
}

body {
    min-width: 320px;
}

b {
    font-weight: bold;
}

.main_content {
    margin-left: 180px;
}

.main_content--lightgray {
    min-height: 100%;

    background-color: #eee;
}

@media only screen and (max-width: 500px) {
    .main_content {
        margin-left: 50px;
    }
}

/*** Search box ***/
.search_box {
    padding-top: 36px;
    padding-bottom: 50px;

    background-color: #e94a4a;
    color: white;

    text-align: center;
}

.search_box__content {
    width: 484px;
    margin: 0 auto;
}

.search_box__title {
    padding-bottom: 12px;

    font-size: 26px;
    font-weight: bold;
}

.search_box__description {
    padding-bottom: 30px;

    font-size: 16px;
}

.search_box__input_wrapper {
    position: relative;

    display: inline-block;
    height: 36px;
    width: calc(100% - 72px);
    border-radius: 4px 0 0 4px;

    background-color: white;
}

.search_box__search_icon {
    position: absolute;
    top: 8px;
    left: 8px;

    color: #e94a4a;

    font-size: 20px;
}

.search_box__input {
    height: 34px;
    width: calc(100% - 34px);

    border: 0;
    margin-left: 34px;

    font-size: 14px;
}

.search_box__search {
    height: 39px;
    width: 70px;
    padding: 0;
    border: 0;
    border-radius: 0 4px 4px 0;
    margin-left: -3px;

    background-color: #3a3a3a;
    color: white;
}

.search_box__trending_searches {
    font-size: 9px;
    text-align: left;
}

/*** Search box - tablet ***/
@media only screen and (max-width: 880px) {
    .search_box {
        padding: 10px 20px 20px;
    }

    .search_box__content {
        width: auto;
    }

    .search_box__title, .search_box__description {
        display: none;
    }
}

/*** Search box - phone ***/
@media only screen and (max-width: 500px) {
    .search_box {
        padding: 10px;
    }

    .search_box__trending_searches {
        display: none;
    }
}

/*** Nav menu ***/
.nav_menu {
    position: fixed;
    float: left;

    height: 100%;
    width: 180px;
}

.nav_menu__background {
    height: 100%;
    max-height: 100%;
    max-width: 100%;

    filter: grayscale(100%);
    opacity: 0.08;
    transform: rotate(180deg);
}

.nav_menu__content {
    position: absolute;
    top: 0;

    height: inherit;
    width: inherit;
}

.nav_menu__name {
    padding-bottom: 10px;
    border-bottom: 1px lightgray solid;
    margin: 10px 14px 20px;

    font-weight: bolder;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}

.nav_menu__items {
    margin-left: 10px;
    margin-right: 10px;
}

.nav_menu__item {
    padding: 10px;
}

.nav_menu__item--selected {
    background-color: #9b2fae;
    color: white;
}

.nav_menu__item--bottom {
    position: absolute;
    bottom: 10px;
}

.nav_menu i {
    margin-right: 10px;

    color: #a9afbb;
}

/*** Nav menu - phone ***/
@media only screen and (max-width: 500px) {
    .nav_menu {
        width: 50px;
    }

    .nav_menu__name {
        opacity: 0;
    }

    .nav_menu__items {
        margin-right: 0;
    }

    .nav_menu__item_text {
        display: none;
    }
}

/*** Become a Host ***/
.become_a_host {
    position: fixed;
    top: 40px;
    right: 0;
    z-index: 1;

    width: 174px;
    padding: 6px;

    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.become_a_host__image {
    height: 30px;
    width: 46px;
}

.become_a_host__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 20px;
    width: 120px;
    padding-left: 56px;
    margin: auto;
}

.become_a_host i {
    padding-left: 6px;
}

/*** Become a host - tablet ***/
@media only screen and (max-width: 880px) {
    .become_a_host {
        display: none;
    }
}

/*** User cards ***/
.user_card_container {
    padding: 20px;
}

.user_card {
    position: relative;

    display: inline-block;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;

    text-align: center;
}

.user_card__main_content {
    height: 240px;
    padding: 40px 20px 14px;
}

.user_card__heading {
    position: absolute;
    top: 0;
    left: 0;

    padding: 10px 20px;
    border-radius: 0 0 6px 0;

    background-color: rgba(211, 211, 211, 0.3);
}

.user_card__photo {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    margin: 0 auto 20px;

    background-image: url(./assets/person.png);
    background-size: cover;
}

.user_card__line1 {
    margin-bottom: 6px;

    text-transform: uppercase;
}

.user_card__line2 {
    padding-bottom: 8px;

    font-size: 26px;
}

.user_card__actions {
    padding: 0;
    margin: 0;

    font-size: 0;
}

.user_card__action {
    display: inline-block;
    width: calc(50% - 2px);
    padding-top: 20px;
    padding-bottom: 20px;
    border: lightgray 1px solid;

    font-size: 16px;
}

/*** User cards - lightgray ***/
.user_card--lightgray .user_card__main_content {
    background: linear-gradient(#97a1a1, #5d6a6b);
}

.user_card--lightgray .user_card__line3 {
    color: #b8bcbc;
}

.user_card--lightgray .user_card__heading, .user_card--lightgray .user_card__line2, .user_card--lightgray b {
    color: white;
}

/*** User cards - yellow ***/
.user_card--yellow .user_card__main_content {
    background: linear-gradient(#f4e600, #f2d200);
    color: #837600;
}

.user_card--yellow .user_card__heading, .user_card--yellow .user_card__line2, .user_card--yellow b {
    color: black;
}

/*** User cards - black ***/
.user_card--black .user_card__main_content {
    background: black;
    color: white;
}

.user_card--black .user_card__line1 {
    color: #6b6b6b;
}

/*** Image cards ***/
.image_card {
    position: relative;
    vertical-align: top;

    display: inline-block;
    width: 150px;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin: 34px 0 20px 20px;

    background-color: white;
    color: #c7c7c7;

    text-align: right;
}

.image_card__image {
    position: absolute;
    top: -14px;
    left: 10px;

    height: 60px;
    width: 60px;
    border-radius: 4px;
}

.image_card__image--orange {
    background-color: #f99128;
}

.image_card__image--green {
    background-color: #4da451;
}

.image_card__image--red {
    background-color: #e43e3e;
}

.image_card__image--green {
    background-color: #4da451;
}

.image_card__image--blue {
    background-color: #23b5c8;
}

.image_card__image i {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 24px;
    width: 24px;
    margin: auto;

    color: white;

    font-size: 24px;
}

.image_card__title {
    margin-bottom: 24px;

    font-size: 12px;
}

.image_card__title--short {
    margin-bottom: 0;
}

.image_card__description {
    color: black;

    font-size: 20px;
}

.image_card__description--small {
    color: #929292;

    font-size: 14px;
}

.image_card__description--increase {
    color: #79c17c;
}

.image_card__details {
    padding-top: 6px;
    border-top: 1px lightgray solid;
    margin-top: 14px;

    font-size: 12px;
    text-align: left;
}

.image_card__details i {
    margin-right: 6px;
}

.image_card__details--warning {
    color: #d5a8dd;
}

.image_card__details--warning i {
    color: #f1423a;
}

/*** Image cards - large ***/
.image_card--large {
    width: 220px;

    text-align: left;
}

.image_card--large .image_card__image {
    height: 110px;
    width: 220px;
}

.image_card--large .image_card__image img {
    height: 100%;
    width: 100%;

    box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.3);
}

.image_card--large .image_card__image--green_shadow img {
    box-shadow: 0 10px 6px -6px rgba(121, 193, 124, 0.3);
}

.image_card--large .image_card__image--orange_shadow img {
    box-shadow: 0 10px 6px -6px rgba(249, 145, 40, 0.3);
}

.image_card--large .image_card__image--red_shadow img {
    box-shadow: 0 10px 6px -6px rgba(228, 62, 62, 0.3);
}

.image_card--large .image_card__title {
    padding-top: 100px;
    margin-bottom: 0;

    color: black;

    font-size: 14px;
}

.image_card--large .image_card__description {
    font-size: 12px;

    color: lightgray;
}
